<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">JAYRIDE Testing App</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/form">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/table">Table</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Main content -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="bg-light text-center py-3">
  © 2023 by Vinny. All rights reserved.
</footer>
